 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <p> I am a third year undergraduate major in Computer Science with a concentration in Statistics
        at Grinnell College, Iowa, USA. My research interests lie in the field of Human Computer
        Interaction with Artificial Intelligence. I am interested in researching about bias in AI 
        algorithms, especially racial and gender bias in training data for AI algorithms. 
        For the summer of 2024, I am going to Tufts University to work with Dr. Elaine Short as a 
        part of the Distributed Research Experience for Undergraduates organized by Computing 
        Research Association. 
    </p>
</div>
