<div class="user-details">
    <h1> Publications </h1>
  </div>
    <div class="user">
      <div class="tech">
        <p> I presented at <a href="https://www.asist.org/2023/10/07/metrics-2023-program/"> METSTI 2023: Workshop on Informetric, Scientometric, 
            and Scientific and Technical Information Research</a> for my Text 
            Mining Scholarly Publications using APIs. 
            My extended abstract was selected and you can read it <a href="https://zenodo.org/records/10581542"> here </a> and my presentation 
            for the workshop is <a href = "https://zenodo.org/records/10767479"> here </a>. <br>
            <b>Sarraf, I.</b>, Fu, Y., Schneider, J. (2023, October 27). Text Mining Scholarly Publications using APIs, <i>METSTI 2023: Workshop on Informetric, Scientometric, and Scientific and Technical Information
              Research</i>, Association for Information Science and Technology (ASIST). <a href = "https://doi.org/10.5281/zenodo.10581542"> https://doi.org/10.5281/zenodo.10581542 </a> 
      </p>
  </div>
  